.Listpage-block{
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-top: 80px;
  position: relative;
  .list-item {
    width: 100%;
    height: auto;
    padding: 30px 20px;
    border-bottom: 1px solid #eee;
    text-align: left;
    .title{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 32px;
      color: #333;
      height: 42px;
      line-height: 42px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .context{
      font-size: 26px;
      color: #444;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      margin-top: 20px;
      line-height: 42px;
    }
  }

}