@import './component/index.scss' ;
@import './container/index.scss' ;
@import './style/reset.scss' ;
@import './style/common.scss' ;
.App {
  text-align: center;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
}

::-webkit-scrollbar{
  display: none;
}
