@import './component/index.scss' ;
@import './container/index.scss' ;
@import './style/reset.scss' ;
@import './style/common.scss' ;
.App {
  text-align: center;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  background: #fff;
  .swiper-container{
    width: 100%;
    height: auto;
    padding-bottom: 90px;
  }
  .swiper-wrapper{
    width: 100%;
    height: calc(100vh  - 90px);
  }
  .swiper-slide{
    width: 100%;
    height: auto;
    overflow-y: auto;
  }
  .main-content{
    width: 100%;
    height: auto;
    padding-bottom: 88px;
    p{
      height: 388px;
    }
  }
  .footer-tab{
    height: 88px;
    width: 100%;
    background: #eee;
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    flex-flow: row;
    z-index: 9;
    p{
      flex: 1;
      line-height: 88px;
    }
    .tab-item-actived{
      background: $main-Back;
      color: #fff;
    }
  }
}
::-webkit-scrollbar{
  display: none;
}
